@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Merienda&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');

*{
    margin: 0%;
    padding: 0%;
}

:root {
    --fonte-padrão: Georgia, 'Times New Roman', Times, serif; 
    --fonte-título: 'Abril Fatface', cursive;
    --fonte-conteúdo: 'Merienda', cursive;
    

}

body {
    background-color: darkcyan;
    min-height: 100vh;
}

header {
    background-color: black;
    text-align: center;
    font-family: var(--fonte-título);
}

header h1 {
    color: white;
    padding-top: 50px;
    font-variant: small-caps;
    font-size: 3vw;
}

header p {
    color: white;
    padding-bottom: 50px;
    font-size: 1.5em;
}

header a, footer a {
    text-decoration: none;
    color: white;
    font-weight: bolder;
}

a:hover {
    text-decoration: underline;
}

section {
    font-family: var(--fonte-conteúdo);
    padding-top: 10vh;
    line-height: 2em;
    padding-bottom: 10vh;
    padding-left: 30px;
    font-size: 1.5vw;
    
}

section.imagem {
    background-color: black;
    box-shadow: inset 5px 5px 10px 1px black;
    background-attachment: fixed;
}

section.imagem p {
    background-color: rgba(0, 0, 0, 0.5);
    display: inline-block;
    color: white;
    padding: 5px;
    background-size: cover;
    text-shadow: 1px 1px 0px black;
}

section.normal {
    background-color: white;
    color: black;
}

section#img1 {
    background-image: url(../imagens/lampiao.jpg);
    background-position: center center;
}

section#img2 {
    background-image: url(../imagens/chapeu.jpg);
    background-position: center center;
}

footer {
    background-color: black;
    padding: 10px;
    text-align: center;
    color: white;
    font-family: var(--fonte-padrão);
}
